*{
    margin: 0 auto;
}
body{
    box-sizing: border-box;
    padding: 1rem;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    background-color: #94e4c9;
    height: 2rem;
}
li a{
   text-decoration: none;
   color:#130104; 
   font-weight: bolder;
   font-size : 1.2em;
}
main{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
}
aside .last{
    grid-column: span 1;
    
}
aside .mid{
    grid-column : span 2;
    position:absolute;
    background-color:#F5EEF8;
    left:30%;
    width:43%;
    height:83%;
    top:22%;
}
aside .img{
   border:5px;
   background-color:#EBDEF0;
   grid-template-columns: repeat(2 , 1fr);
   grid-template-rows: repeat(3, 1fr);
}
aside .img img{
   grid-column: span 1;
   grid-row : span 1;
}